*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #9bdabe2a;
}

h1, h5, p, a{
    font-family: 'Kanit', sans-serif;
    color: rgba(27, 27, 102, 0.911);
    font-size: 25px;
    padding: 15px 0px;
    text-decoration: none;
}

.up{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background{
    width: 200px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.content p{
    color: rgb(139, 139, 139);
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.content div{
    width: .5px;
    height: 100px;
    background-color: rgb(139, 139, 139);
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    padding: 20px 0px;
    height: 80px;
    z-index: 1;
}

.menu a{
    display: flex;
    align-items: center;
}

.menu a:hover{
    cursor: pointer;
    color: rgb(255, 145, 0);
}

.tellme a{
    display: flex;
    align-items: center;
}

.tellme a:hover{
    color: rgb(255, 145, 0)
}

.container-projects{
    display: flex;
    justify-content: center;
}

.container-projects section{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-projects section h1{
    margin-top: 10px;
    border-top: 1px solid;
    font-size: 18px;
}

#copyright{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(117, 117, 117);
    font-size: 12px;
}