@media only screen and (max-width: 600px) {

    .menu img{
        width: 50px;
    }

    .menu h5{
        font-size: 12px;
    }

    .tellme img{
        width: 30px;
    }

    .tellme h5{
        font-size: 12px;
    }

    .apresentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .apresentation img {
        width: 150px;
        display: flex;
        margin-top: -10px;
    }

    .apresentation div{
        width: 50%;
        height: 0vh;
    }

    .apresentation h1 {
        color: rgba(27, 27, 102, 0.911);
        font-weight: 1;
        font-size: 35px;
        margin-top: 200px;
        width: 250px;
        text-align: center;
    }
    
    .apresentation p {
        color: rgba(27, 27, 102, 0.911);
        font-size: 15px;
        padding: 15px 0px;
        width: 300px;
        text-align: center;
        margin-left: -10%;
    }

    #copyright{
        margin-top: 80px;
        font-size: 10px;
    }

    .work h1 {
        margin-top: 540px;
        font-size: 35px;
        margin-left: -10px;
    }

    .work p {
        font-size: 15px;
        width: 270px;
        text-align: center;
        margin-left: -10px;
    }

    .content{
        margin-left: 0px;
    }

    .content p{
        color: rgb(139, 139, 139);
        font-size: 10px;
        font-weight: bold;
        width: 100%;
    }

    .project {
        width: 270px;
        height: 160px;
        display: flex;
        align-items: center;
    }

    .project a{
        height: 200px;
    }

    .project img{
        width: 180px;
    }

    .project h1{
        font-size: 17px;
        margin-top: 0;
        margin-left: -25px;
    }

    .tech {
        width: 270px;
        height: 160px;
    }

    .tech a{
        height: 160px;
    }

    .tech img{
        width: 130px;
        margin-right: 20px;
    }

    .tech h1{
        font-size: 17px;
        margin-top: 0px;
        margin-right: 10px;
    }
    
    .network {
        width: 270px;
        height: 160px;
    }

    .network a{
        height: 160px;
    }

    .network img{
        width: 280px;
        margin-left: -500px;
    }

    .network h1{
        font-size: 17px;
        margin-top: 0px;
        margin-left: -70px;
    }

    #division{
        display: none;
    }

    .abot h1{
        margin-top: 40px;
        font-size: 35px;
        font-weight: 100;
        text-align: center;
    }

    .abot p{
        font-size: 14px;
        text-align: center;
        padding: 10px;
    }

    .container-projects img{
        filter: blur(2px);
        transition: filter 0.5s ease-in-out;
    }

    .container-projects img:hover{
        filter: blur(0px); 
    }

    #proj1{
        width: 320px;
        height: 210px;
        border: 1px solid;
        border-radius: 20px;
    }
    
    #proj2{
        width: 300px;
        height: 300px;
        border: 1px solid;
        border-radius: 20px;
    }
    
    #proj3{
        width: 350px;
        height: 200px;
        border: 1px solid;
        border-radius: 20px;
    }
    
    #proj4{
        width: 200px;;
        border: 1px solid;
        border-radius: 20px;
    }

    #proj5{
        width: 350px;
        height: 200px;
        border: 1px solid;
        border-radius: 20px;
    }

    .container h1{
        font-size: 20px;
        text-align: center;
    }

    .container h5{
        font-size: 13px;
        text-align: center;
    }

    body{
        overflow-x: hidden;
    }
    
}

@media only screen and (min-width: 500px) {
    .menu img{
        width: 70px;
    }

    .menu h5{
        font-size: 15px;
    }

    .tellme img{
        width: 40px;
    }

    .tellme h5{
        font-size: 15px;
    }

    .apresentation {
        display: flex;
        flex-direction: row;
    }

    .apresentation img {
        width: 250px;
    }

    .apresentation h1 {
        color: rgba(27, 27, 102, 0.911);
        font-weight: 1;
        font-size: 40px;
        text-align: center;
    }
    
    .apresentation p {
        color: rgba(27, 27, 102, 0.911);
        font-size: 15px;
        padding: 15px 0px;
        text-align: center;
        margin-left: -10%;
    }

    .container{
        display: flex;
    }

    .abot{
        margin-right: 20px;
        padding: 0 -100px;
    }

    .abot h1{
        margin-top: 40px;
        font-size: 35px;
        font-weight: 100;
        text-align: center;
    }

    .abot p{
        font-size: 14px;
        text-align: center;
        padding: 10px;
    }

    .work{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .work h1 {
        margin-top: 40px;
        font-size: 35px;
        margin-left: -10px;
    }

    .work p {
        font-size: 15px;
        width: 270px;
        text-align: center;
        margin-left: -10px;
    }

    .content{
        margin-left: 0px;
        width: 100%;
    }

    .content div{
        background-color: red;
    }

    .project {
        width: 270px;
        height: 160px;
        display: flex;
        align-items: center;
    }

    .project a{
        height: 200px;
    }

    .project img{
        width: 180px;
    }

    .project h1{
        font-size: 17px;
        margin-top: 0;
        margin-left: -15px;
    }

    .tech {
        width: 270px;
        height: 160px;
    }

    .tech a{
        height: 160px;
    }

    .tech img{
        width: 130px;
        margin-right: 20px;
    }

    .tech h1{
        font-size: 17px;
        margin-top: 0px;
        margin-right: 10px;
    }
    
    .network {
        width: 270px;
        height: 160px;
    }

    .network a{
        height: 160px;
    }

    .network img{
        width: 280px;
        margin-left: -500px;
    }

    .network h1{
        font-size: 17px;
        margin-top: 0px;
        margin-left: -70px;
    }
    
    .container-projects img{
        filter: blur(2px);
        transition: filter 0.5s ease-in-out;
    }

    .container-projects img:hover{
        filter: blur(0px); 
    }

    #proj1{
        width: 600px;
        height: 300px;
        border: 1px solid;
        border-radius: 20px;
    }
    
    #proj2{
        width: 400px;
        height: 350px;
        border: 1px solid;
        border-radius: 20px;
    }
    
    #proj3{
        width: 600px;;
        border: 1px solid;
        border-radius: 20px;
    }
    
    #proj4{
        width: 300px;;
        border: 1px solid;
        border-radius: 20px;
    }

    #proj5{
        width: 550px;
        height: 300px;
        border: 1px solid;
        border-radius: 20px;
    }

    body{
        overflow-x: hidden;
    }
}